#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem;
}

.form-control label {
  font-weight: 700;

  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  border: 1px solid rgb(204, 204, 204);
  padding: 0.35rem;
  width: 15rem;
}

.form-control input:focus {
  outline-color: var(--primary-purple-400);
}

#game-configuration {
  width: var(--width);
  margin: 3rem auto;
  text-align: center;
}

#game-configuration ol {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

#game-configuration ol li {
  background-color: var(--primary-purple-100);

  margin: 1rem;
  border-radius: 4px;
  padding: 1rem;
  width: 50%;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#game-configuration ol li h2 {
  font-size: 1rem;

  margin: 0.5rem 0;
}

#game-configuration ol li h3 {
  font-size: 1.5rem;
  color: var(--primary-purple-600);

  margin: 0.5rem 0;
}

.player-symbol {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-purple-900);

  margin: 0.5rem 0;
}
