#active-game {
  text-align: center;

  margin: 2rem 0 5rem 0;
  /* display: none; */
}

#game-over {
  background-color: var(--primary-purple-800);
  color: #fff;

  margin: auto;
  border-radius: 4px;
  padding: 1rem 2rem;
  width: var(--width);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  display: none;
}

#game-over h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: 700;
  color: var(--primary-purple-800);
}

#game-board {
  list-style: none;

  margin: 1rem 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: 0.5rem;
}

#game-board li {
  background-color: var(--primary-purple-200);
  font-size: 2.5rem;
  font-weight: 700;

  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board li:hover {
  background-color: var(--primary-purple-500);
}

#game-board li.disabled {
  background-color: var(--primary-purple-500);
  color: #fff;
  cursor: default;
}
