  <%- include("./includes/head.ejs") %> 
  <%- include("./includes/aside.ejs") %> 
    <main>
      <h1>Recommended restaurants</h1>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <ul id="restaurants-list">
        <li class="restaurant-item">
          <article>
            <h2>Restaurant Title</h2>
            <div class="restaurant-meta">
              <p>Mexican</p>
              <p>Address of the restaurant, including city</p>
            </div>
            <p>
              A short description, explaining why this restaurant is awesome!
            </p>
            <div class="restaurant-actions">
              <a href="">View Website</a>
            </div>
          </article>
        </li>
      </ul>
    </main>
  </body>
</html>
