:root {
  --primary-color-100: rgb(219, 190, 253);
  --primary-color-400: rgb(52, 15, 95);
  --primary-color-700: rgb(32, 5, 63);

  --grey-color-100: rgb(184, 184, 184);
  --grey-color-400: rgb(61, 58, 58);
  --grey-color-700: rgb(31, 30, 30);
}

body {
  background-color: var(--grey-color-700);
}

body * {
  font: normal 1rem "Roboto", sans-serif;
}

form {
  background-color: #fff;

  width: 30rem;
  padding: 1rem;
  border-radius: 6px;
  margin: 3rem auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;

  width: 100%;

  box-sizing: border-box;
  padding: 0.25rem;
  border: 1px solid var(--grey-color-100);
  margin-bottom: 1rem;

  color: var(--grey-color-400);

  resize: none;
}

input:focus,
textarea:focus {
  background-color: var(--primary-color-100);
  color: var(--primary-color-700);
  border-color: var(--primary-color-700);
}

button {
  display: block;
  background-color: var(--primary-color-700);
  color: #fff;

  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primary-color-700);
  border-radius: 4px;

  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-400);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
