body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

header {
  position: static;
}

main ul {
  width: 800px;
  margin: 0 auto;
}

main li {
  display: flex;
  background-color: #fff;

  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  color: #19b6d3;

  display: inline-block;
  padding: 8px;
  border-radius: 6px;

  cursor: pointer;
}

.actions a:hover {
  background-color: rgba(25, 182, 211, 0.2);
}
