body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 15px 20px;

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
}

#page-logo a {
  padding: 10px;
  font-family: "Playfair Display", serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

header ul a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  padding: 12px;
  border-radius: 6px;
}

header ul a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 25px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

footer li {
  width: 80px;
  height: 80px;
}

footer li i {
  color: #fff;
  font-size: 80px;

  transition: color 0.3s ease;
}

footer li:first-child i {
  border-radius: 23px;
  padding: 0px 5px 0 5px;
}

footer li:hover:first-child i {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

footer li:hover:last-child i {
  color: #1da1f2;
}
