#hero {
  height: 800px;
  background-image: url("./images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);

  padding-block: 50px;
  border-radius: 8px;
  margin: auto;

  text-align: center;

  position: relative;
  top: 200px;
}
