h1 {
  font-family: sans-serif;
  text-align: center;
  color: #f08080;
}

p {
  font-family: sans-serif;
  text-align: center;
  color: #534b4b;
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
