:root {
  --light-blue-100: #ecf9fd;
  --light-blue-300: #e8f0fd;
  --light-blue-600: #d4ddf3;

  --blue-400: #6991e1;
  --blue-700: #2f3a56;

  --radius-size: 4px;
}

body {
  background-color: var(--light-blue-100);
  margin: 0;
}

body * {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

main {
  background-color: var(--light-blue-300);

  width: 40rem;
  padding: 1rem;
  border-radius: var(--radius-size);
  margin: 0 auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

section {
  margin: 1.4rem 0;
}

#contact,
#terms-section,
#btn-container {
  margin-top: 0;
}

label {
  display: block;
  color: #3d4147;
}

input,
textarea,
select {
  font-size: inherit;

  width: 100%;
  box-sizing: border-box;

  padding: 0.5rem;
  border: none;
  border-radius: var(--radius-size);
  margin: 0.5rem 0;
  resize: none;
}

input:focus,
textarea:focus {
  background-color: var(--light-blue-600);
  outline-color: var(--blue-400);
}

button {
  font-size: 1rem;
  padding: 0.4rem 1.3rem;

  border-radius: var(--radius-size);

  border: 1px solid var(--blue-700);
  cursor: pointer;
}

button:hover {
  filter: brightness(0.8);
}

.form-control-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-control-input input {
  width: 1rem;
}

#btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

#btn-container button:first-child {
  background-color: transparent;
}

#btn-container button:last-child {
  background-color: var(--blue-700);
  color: #fff;
}

footer {
  padding: 2rem 0;
  text-align: center;
}
