body {
  font-family: "Open Sans", sans-serif;

  background-color: rgb(44, 41, 38);

  margin: 0;
}

a {
  text-decoration: none;
}

#main-header {
  background-color: rgb(29, 26, 24);

  height: 80px;
  padding-inline: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 24px;
  font-weight: 700;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

#main-header nav ul {
  list-style: none;

  display: flex;
  gap: 20px;

  padding: 0;
  margin: 0;
}

#main-header nav ul a {
  color: rgb(185, 131, 31);
  font-size: 20px;
}

#main-header nav ul a:hover {
  color: rgb(228, 163, 44);
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 48px;
}

#latest-products {
  width: 80%;
  margin: 50px auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  padding: 0;
  margin: 0;
}

.food-item {
  background-color: rgb(228, 206, 182);

  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  text-align: center;
  padding: 16px;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: #fff;

  padding: 8px 24px;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}
