body {
  font-family: "Open Sans", sans-serif;

  background-color: rgb(44, 41, 38);

  margin: 0;
}

a {
  text-decoration: none;
}

#main-header {
  background-color: rgb(29, 26, 24);

  height: 5rem;
  padding-inline: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

#main-header nav ul {
  list-style: none;

  display: flex;
  gap: 20px;

  padding: 0;
  margin: 0;
}

#main-header nav ul a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

#main-header nav ul a:hover {
  color: rgb(228, 163, 44);
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;

  width: 3rem;
  height: 3rem;
}

.menu-btn span {
  background-color: #fff;

  width: 100%;
  height: 3px;
}

#side-drawer {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  padding-inline: 5%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#side-drawer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  list-style: none;

  padding: 4rem 1rem;
  margin: 0;
}

#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 2rem;
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}

#latest-products {
  width: 80%;
  margin: 0 auto 1rem auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 0;
  margin: 0;
  list-style: none;
}

.food-item {
  background-color: rgb(228, 206, 182);

  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  text-align: center;
  padding: 1em;
}

.food-item-content h2 {
  margin: 0 0 1rem 0;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: #fff;

  display: inline-block;

  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}

@media screen and (max-width: 48rem) {
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #latest-products ul {
    grid-template-columns: 1fr;
  }
}
