<%- include("./includes/head.ejs") %> 
<%- include("./includes/aside.ejs") %> 
  <main>
    <h1>restaurant title <%= restaurantId %></h1>
    <p>Cuisine | Address</p>
    <p>Description of the restaurant</p>
    <p><a href="">View Website</a></p>
  </main>
</body>
</html>