header {
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  margin: 12px 0;
}

#description {
  margin-bottom: 36px;
}

a {
  background-color: rgb(167, 1, 78);
  color: #fff;
  border-radius: 4px;
  padding: 5px 8px;
}

a:hover {
  background-color: rgb(180, 12, 90);
  text-decoration: none;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
}

h2 {
  color: rgb(78, 13, 5);
  font-family: "Oswald", sans-serif;
}

main p {
  margin: 12px;
  color: rgb(78, 13, 5);
}

.highlight-goal {
  background-color: rgb(226, 115, 101);
}
