<%- include('includes/head.ejs', { title: 'Not Found!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>404 Not Found!</h1>
    <p>Could not find the resource!</p>
  </main>
</body>
</html>